{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "syntax": "scss",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "value-keyword-case": null,
    "property-no-unknown": [
      true,
      {
        "ignoreProperties": [
          "/^lost-/"
        ]
      }
    ],
    "order/properties-order": [ ... ],
  }
}